/node_modules/
/.env

.idea/
/.idea/
/.vscode/
.vscode/

/package-lock.json
/log/

*.todo

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Optional eslint cache
.eslintcache